* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 

h1 {
    /*text-align: center;*/
    display: table;
    margin: 100px auto 0px auto;
    padding: 5px;
    font-size: 25px;
    background-color: green;
    color: white;
}
.cas{
    color: orange;
    
    margin-top: 20px;
    margin-left: 10px;
}
.hyper {
    color: orange;
    
    margin-top: 20px;
}
.table{
    margin-left: 560px;
    margin-top: 20px;
    width: 20%;
}
#value{
    margin-left: 570px;
    margin-top: 0;
    border-color: green;
    width: 15%;
}

#add{
    border-color: green;
    color: green;
    background-color: white;
    
}

/*h1 span {
    background-color: green;
    color: white;
    font-size: 25px;
    margin-top: 60px;
}*/